# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Prisma
server/prisma/*.db
dist/build

# Firebase Service Account (Sprint 3)
firebase-service-account.json
*-firebase-adminsdk-*.json